<div class="container">
    <div class="row">

        <div class="card-deck">

            <div *ngFor="let track of searchTrack">
                <!-- <pre>{{ track | json }}</pre> -->

                <!-- <div *ngIf="track.artwork_url" class="card" style="width: 15rem;" id="cardDecks">
                    <img src="{{track.artwork_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title truncate">{{track.title}}</p>
                        <button (click)="play(track.stream_url, track.artwork_url)" class="btn btn-primary">play track</button>
                    </div>
                </div> -->
                <ul class="list-group list-group-flush">
                    <li *ngIf="track.artwork_url" class="list-group-item row">

                        <div class="media">
                            <img src="{{track.artwork_url}}" class="mr-3" alt="...">
                            <div class="media-body">
                                <p class="mt-0">{{track.title}}</p>
                                <button (click)="play(track.stream_url, track.artwork_url)" class="btn btn-primary"><span class="fa fa-play-circle"> </span> play
                                    track</button>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>